
p{
    text-align: center;
    border: 3px ridge rgb(0, 17, 255);
    font-size: 25px;
    background-color: black;
}
.ba{
    margin-bottom: 0;
    border-bottom:0 ;
    color: aliceblue;
    text-shadow: 1px 2px 5px blue;
}
.base{
    margin-top: 0 ;
    border-top: 2px dashed rgb(253, 0, 0);
    color: aliceblue;
    text-shadow: 1px 2px 5px rgb(255, 0, 0);
    margin-bottom: 0;
    border-bottom: 0;
    font-size: 22px;
}
.inicio{
    text-align: center;
}
.profe{
    color: rgb(110, 241, 132);
    text-shadow: 1px 2px 5px rgb(255, 0, 0);
    margin-top: 0;
    font-size: 15px;
    text-align: end;
    border-top: 2px dashed rgb(255, 3, 3);

}